* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Mulish', sans-serif;
    list-style: none;   
    width: 1600px;
    margin: 0 auto;

}

.wrapper {
    margin: 70px 192px auto;
}
 /*HEADER NAV*/       
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
}

.header-logo div  {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin-right: 12px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    color: white;
    background-color: #458FF6;
}

.header-logo span  {
    margin: auto;
    color: #233348;
    font-weight: 700;
    font-size: 24px;
}

.header-text a {
    color: #1F1534;
    opacity: 50%;
    font-size: 18px;
    font-weight: 400;
    margin-left: 40px;
}

.header-text a:hover {
    font-weight: 700;
    opacity: initial;
}

/* HEADER MAIN */
.header-main {
    margin-top: 84px;
    display: flex;
}

.header-main-text {
    width: 445px;
    height: 338px;
    margin-top: 107px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-main-text h1{
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 56px;
}

.header-main-text p {
    margin-bottom: 45px;
    font-size: 21px;
    font-weight: 300;
    color: #7D7987;
    line-height: 32px;
}

.header-main-text button {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 17.5px 40px;
    border-radius: 55px;
    background-color: #458FF6;
    border: 0px;
}

.header-main-image {
    position: absolute;
    width: 693px;
    height: 598px;
    margin-left: 554px;
}